/build
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.ltk.core.refactoring.prefs
/.settings/org.eclipse.wst.ws.service.policy.prefs
/.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
/.settings/org.eclipse.jdt.ui.prefs