header {
  width: 300px;
  height: 50px;
  background-color: green;
}

.about-me {
  width: 300px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  border: black 2px solid;
  border-radius: 15px;
}

section {
  background-color: red;
  width: 300px;
  height: 100px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

#name {
  color: green;
}
