body {
  font-family: "Gill Sans MT", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
}

.hero {
  width: 100%;
  /* background-color: rgba(200 188 182 / 75%); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero-info {
  margin: 30px;
  max-width: 350px;
}

.styled-break {
  width: 100px;
  height: 5px;
  background-color: #3715a9;
  border-radius: 2.5px;
  margin: 30px 0;
}

.hero-image {
  width: 300px;
  margin: 30px;
}

.hero-name {
  color: green;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.button {
  width: 80px;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ef866c;
  color: #ffffff;
  text-align: center;
  font: 12px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ef744b;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6);
}

section {
  background-color: #ffffff;
  width: 100%;
  /* height: 300px; */ /* we comment this height of section b/c we want the height of section to be dependent on the max height of its sub div*/

  display: flex;
  flex-direction: row;
  justify-content: center; /* justify based on the main axis */
  align-items: center; /* justify based on the vice axis */
  flex-wrap: wrap;
}

.about-me {
  width: 300px;
  height: 300px;
  background-color: rgba(200 188 182 / 75%);
  margin: 5px;
}

.about-me-second {
  width: 300px;
  height: 300px;
  background-color: rgba(300 188 182 / 75%);
  margin: 5px;
}

.tile {
  background-color: yellow;
  width: 40px;
  height: 40px;
  margin: 5px;
}

#having-shadow {
  box-shadow: 5px 10px 1px grey;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}
